<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>main page</title>
    <script>
        function validateForm(){
            var name=document.getElementById('name').value;
            var studentNumber=document.getElementById('studentNumber').value;
            var major=document.getElementById('major').value;
            var email_id=document.getElementById('email_id').value;
            var email_addr=document.getElementById('email_addr').value;

            if (!name|| !studentNumber || !major || !email_id|| !email_addr){
                alert('필수 정보를 다 입력해주세요!');
                return false;
            }
            
            return true;
        }
    </script>
</head>
<body>
    <form action="/result" method="POST" onsubmit="return validateForm()">
        
        <p><b>* Name</b> <input type="'text" id='name'name="name"/> </p>
        <p><b>* StudentNumber</b> <input type="text" id='studentNumber'name="studentNumber"/> </p>
        <p><b>* Major</b> <input type="text" id='major'name="major"/> </p>
        <p><b>* Email</b> <input type="text" id='email_id'name="email_id"/> @ <select name="email_addr" id="email_addr">
            <option value="@gmail.com">gmail.com</option>
            <option value="@hanmail.com">hanmail.com</option>
            <option value="@naver.com">naver.com</option>
          </select></p>
        <p>Gender</p>
        <p><input type="radio" id="male" name="gender" value="male"><label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="female"><label for="female">Female</label>
        <p>Programming Languages</p>
        <p><input type="checkbox" id="Python" name="language" value="Python"><label for="Python">Python</label>
            <input type="checkbox" id="Java" name="language" value="Java"><label for="Java">Java</label>
            <input type="checkbox" id="HTML" name="language" value="HTML"><label for="HTML">HTML</label>
            <input type="checkbox" id="C++" name="language" value="C++"><label for="C++">C++</label></p>
        <p><button type='submit' value="submit">submit</button></p>
        
    </form>
   
    
    
</body>
</html>